{
    "archive" : {
        "enable" : true,
        "unique" : false
    },
    "database" : {
        "path" : "database/template.sqlite3"
    },
    "command" : {
        "seasons" : "config/seasons.json",
        "personal" : "config/personal.json",
        "scout" : "config/scout.json",
        "themes" : "config/themes.json",
        "medias" : "config/medias.json"
    },
    "myanimelist" : {
        "auth" : "auth/myanimelist.json"
    },
    "youtube" : {
        "auth" : [
            "auth/sakura-robot01.json",
            "auth/sakura-robot02.json",
            "auth/sakura-robot03.json",
            "auth/sakura-robot04.json",
            "auth/sakura-robot05.json",
            "auth/sakura-robot06.json",
            "auth/sakura-robot07.json",
            "auth/sakura-robot08.json",
            "auth/sakura-robot09.json",
            "auth/sakura-robot10.json"
        ]
    }
}